
<section class="question-text">

  <h2>This is sample question text that we will later replace with a real question?</h2>

</section>

<section class="question-answers">

  <ul>

    <a href=""><li>Pizza</li></a>
    <a href=""><li>Pizza</li></a>
    <a href=""><li>Pizza</li></a>
    <a href=""><li>Azzip</li></a>

  </ul>

</section>

<section class="feedback">

<p>This is some feedback.This is some feedback.This is some feedback.This is some feedback.This is some feedback.</p>


</section>

