
<div class="box">

  <section class="intro">
    <h1>Should I Buy an iPad?</h1>
    <p>Take this short quiz to find out if the iPad is a device you actually need.</p>
  </section>

  <section class="next">
    <a href="#"><i class="fa fa-arrow-circle-o-right"></i></a>
  </section>

</div>

