<!DOCTYPE html>
<html>
<head>
<meta charset=utf-8 />
  <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
<title>JS Bin</title>
</head>
<body>
  <div class="box">
    <section class="intro">
      <h1>Should I Buy an iPad?</h1>
      <p>Take this short quiz to find out if the iPad is a device you actually need.</p>
    </section>
    <section class="next">
      <a href="#"><i class="fa fa-arrow-circle-o-right"></i></a>
    </section>
  </div>
</body>
</html>
