<!DOCTYPE html>
<html>
<head>
<meta charset=utf-8 />
  <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
</head>
<body>
  <div class="box">
    <section class="result">
      <h1>You Should Buy an iPad!</h1>
    </section>
    <section class="next">
      <i class="fa fa-thumbs-o-up"></i>
      <p>Based on your answers, it seems an iPad would be useful for you.</p><br>
      <a href="#"><i class="fa fa-twitter"></i>Share your result!</a>
    </section>
  </div>
</body>
</html>
