body {
  background-color: #24b2b6;
}

.box {
  width: 100%;
  height: auto;
  font-family: "Helvetica Neue";
  .intro {
    color: #fff;
    h1 {
      margin: 0;
      font-size: 56px;
      text-align: center;
    }
    p {
      text-align: center;
      padding: 10px;
      font-size: 24px;
    }
  }
  .next {
    text-align: center;
    i {
      color: #fff;
      font-size: 92px;
      background: none;
      border: none;
    }
  }
}
